## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

In [24]:
tup = ('I',)
print(tup)

('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [ ]:
type(tup)

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [ ]:
# I couldnt use the function append as tupples doesnt work with append 
tup = tup + ('r', 'o', 'n', 'h', 'a', 'c', 'k',)
print(tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [ ]:
tup = ("I", "r", "o", "n", "h", "a", "c", "k",)
# yes i was able to do it, I cannot change the value of a tupple variable, but i can re-assign the value of the variable.

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [40]:
tup1 = tup[:4]
tup2 = tup[4:]
print(tup1)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [45]:
tup3 = tup1 + tup2
print(tup3)
tup3 == tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

True

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [53]:
count1 = len(tup1)
print(count1)
count2 = len(tup2)
print(count2)
total_count = count1 + count2
print(total_count)

4
4
8

In [57]:
count3 = len(tup3)
print(count3)
if total_count == count3:
    print("total matches tup3")
else:
    print("the total count does not match tup3")

8
total matches tup3

#### What is the index number of `"h"` in `tup3`?

In [61]:
print(tup3.index("h"))

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [64]:
letters = ["a", "b", "c", "d", "e"]

for letter in letters:
    if letter in tup3:
        print(f"{letter} is in tup3")
    else:
        print(f"{letter} it is NOT on tup3")

a is in tup3
b it is NOT on tup3
c is in tup3
d it is NOT on tup3
e it is NOT on tup3

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [65]:
for letter in letters:
    count = tup3.count(letter)
    print(f"{letter} appears {count} times in tup3")

a appears 1 times in tup3
b appears 0 times in tup3
c appears 1 times in tup3
d appears 0 times in tup3
e appears 0 times in tup3

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
sample_list_1 = [random.randint(1, 100) for _ in range(80)]
print(sample_list_1)

[75, 86, 51, 30, 83, 28, 23, 3, 99, 88, 76, 48, 45, 31, 50, 57, 95, 81, 60, 14, 100, 78, 26, 17, 11, 12, 69, 59, 50, 96, 99, 10, 58, 46, 68, 23, 51, 12, 73, 96, 93, 70, 98, 98, 30, 100, 23, 94, 5, 18, 8, 47, 75, 89, 21, 75, 88, 63, 79, 45, 7, 8, 81, 81, 18, 40, 85, 9, 33, 43, 17, 91, 89, 39, 42, 59, 95, 100, 17, 41]

In [9]:
print(len(sample_list_1))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
set1=set(sample_list_1)
len(set1)
# when converting to set we have delete duplicated values, thats why now my set is only 54 values

56

In [42]:
print(set1)

{5, 7, 8, 9, 10, 11, 12, 14, 17, 18, 21, 23, 26, 28, 30, 31, 33, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 57, 58, 59, 60, 63, 68, 69, 70, 73, 75, 76, 78, 79, 81, 83, 85, 86, 88, 89, 91, 93, 94, 95, 96, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []

for i in range(80):
    value = random.randint(0, 100)  
    # generates a random integer between 0 and 100
    sample_list_2.append(value)

print(sample_list_2)

[63, 18, 62, 41, 81, 91, 43, 60, 83, 23, 76, 94, 79, 57, 94, 14, 2, 24, 5, 11, 59, 86, 59, 32, 28, 61, 22, 62, 7, 28, 85, 78, 4, 95, 72, 23, 11, 30, 32, 45, 79, 1, 32, 97, 81, 57, 34, 26, 100, 10, 91, 1, 26, 58, 100, 6, 0, 28, 26, 34, 17, 77, 84, 58, 5, 1, 62, 71, 77, 1, 82, 25, 78, 36, 43, 30, 77, 7, 23, 86]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

49

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
set3 = set1 - set2
print(set3)

{3, 8, 9, 12, 21, 31, 33, 39, 40, 42, 46, 47, 48, 50, 51, 68, 69, 70, 73, 75, 88, 89, 93, 96, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
set4 = set2 - set1
print(set4)

{0, 1, 2, 4, 6, 22, 24, 25, 32, 34, 36, 61, 62, 71, 72, 77, 82, 84, 97}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [14]:
set5 = set1 & set2
print(set5)

{5, 7, 10, 11, 14, 17, 18, 23, 26, 28, 30, 41, 43, 45, 57, 58, 59, 60, 63, 76, 78, 79, 81, 83, 85, 86, 91, 94, 95, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
print(len(set1) == len(set3) + len(set5))

True

In [17]:
print(len(set2) == len(set4) + len(set5))

True

#### Create an empty set called `set6`.

In [20]:
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [22]:
# Then, use the update() method to add all elements from set3 and set5
set6.update(set3, set5)

# Optional: print the result to verify
print(set6)
print("Length of set6:", len(set6))

{3, 5, 7, 8, 9, 10, 11, 12, 14, 17, 18, 21, 23, 26, 28, 30, 31, 33, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 57, 58, 59, 60, 63, 68, 69, 70, 73, 75, 76, 78, 79, 81, 83, 85, 86, 88, 89, 91, 93, 94, 95, 96, 98, 99, 100}
Length of set6: 56

#### Check if `set1` and `set6` are equal.

In [25]:
if set1 == set6:
    print("Set1 is equal to set6")

Set1 is equal to set6

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [35]:
if set1.issuperset(set2):
    print("set1 contains all elements of set2")
else:
    print("set1 does NOT contain all elements of set2")

set1 does NOT contain all elements of set2

In [36]:
if set1.issuperset(set3):
    print("set1 contains all elements of set3")
else:
    print("set1 does NOT contain all elements of set3")

set1 contains all elements of set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [37]:
agg1 = set3.union(set4, set5)

In [38]:
agg2 = set1.union(set2)

In [40]:
if agg1 == agg2:
    print("The sets3, 4 and 5 sum is equal to Set1 and 2 sum.")
else:
    print("The aggregated sets are NOT equal.")

The sets3, 4 and 5 sum is equal to Set1 and 2 sum.

#### Using the `pop` method, remove the first element from `set1`.

In [41]:
removed_element = set1.pop()
print("Removed element:", removed_element)
print("Updated set1:", set1)

Removed element: 3
Updated set1: {5, 7, 8, 9, 10, 11, 12, 14, 17, 18, 21, 23, 26, 28, 30, 31, 33, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 57, 58, 59, 60, 63, 68, 69, 70, 73, 75, 76, 78, 79, 81, 83, 85, 86, 88, 89, 91, 93, 94, 95, 96, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [43]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for value in list_to_remove:
    set1.discard(value)
print("Remaining elements in set1:", set1)

Remaining elements in set1: {5, 7, 8, 10, 12, 14, 17, 18, 23, 26, 28, 30, 33, 40, 42, 43, 45, 46, 47, 48, 50, 57, 58, 60, 63, 68, 70, 73, 75, 76, 78, 83, 85, 86, 88, 93, 94, 95, 96, 98, 100}

## BONUS - Challenge 3: Dictionaries

In this challenge you will practice how to manipulate Python dictionaries. Before starting on this challenge, you are encouraged to review W3School's [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp).

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in *sort* method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song *Shape of You*. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [32]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

#### Sort the keys of `word_freq` ascendingly.

Please create a new dictionary called `word_freq2` based on `word_freq` with the keys sorted ascedingly.

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

📖 [Documentation for a for loop](https://docs.python.org/3/reference/compound_stmts.html#for)

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [33]:
# Your code here

#### Sort the values of `word_freq` ascendingly.

Sorting the values of a dictionary is more tricky than sorting the keys because a dictionary's values are not unique. Therefore you cannot use the same way you sorted dict keys to sort dict values.

The way to sort a dict by value is to utilize the `sorted` and `operator.itemgetter` functions. The following code snippet is provided to you to try. It will give you a list of tuples in which each tuple contains the key and value of a dict item. And the list is sorted based on the dict value ( [reference](http://thomas-cokelaer.info/blog/2017/12/how-to-sort-a-dictionary-by-values-in-python/)
).

```python
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
print(sorted_tups)
```

Therefore, the steps to sort `word_freq` by value are:

* Using `sorted` and `operator.itemgetter`, obtain a list of tuples of the dict key-value pairs which is sorted on the value.

* Create an empty dictionary named `word_freq2`.

* Iterate the list of tuples. Insert each key-value pair into `word_freq2` as an object.

Print `word_freq2` to confirm your dictionary has its values sorted. Your output should be:

```python
{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}
```

In [34]:
# Your code here